html { 
    margin:10px;
    padding:0;
    background: url( "../img/fond.jpg") no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    background-position: fixed;
  }

.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}
h1{
    color: rgb(245, 239, 239);
    font-size: 200%;
    text-shadow: 0.1em 0.1em 0.05em rgb(252, 90, 90);

}
.mes_citations{

    width: 50%;
    height: 50%;
    padding: 20px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 10px;
    color: rgb(250, 248, 248);
    border: dotted 1px black;
    border-radius: 4px;
    background-color: rgba(245, 68, 186, 0.472);
}


#button{
    color: rgb(249, 250, 249);
    
    width: 120px;
    border-radius: 10px;
   background-color: rgb(88, 88, 88);
 }

 

